<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Jakub Koralewski Github Website" />
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="Jakub Koralewski, github, vue, spa,
            dziennik, koralewski, jakub, harwart, portfolio, Vue.js, TypeScript, 
            gh-pages" />
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <h1>J³akub Koralewski</h1>

        <section id="downloads">
          <a href="https://github.com/JakubKoralewski" class="btn btn-github" target="_blank"><span class="icon"></span>View my profile on GitHub</a>
          <a href="https://jcubed.me" class="btn btn-github"><span class="icon"></span>Home</a>
        </section>
        
        <section>
          <h2>
            {{ page.title }}
          </h2>
          <p class="view">by {{ page.author | default: site.author }}</p>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>